<h1>Guisdap 9.1</h1>
This release of guisdap contains new features and bugfixes, but everything is made compatible with older versions (hopefully). The package should be compatible with not too ancient Matlab versions (>2016), but there may (or may not) be some problems on specific platforms.<a name="section-1"></a>
<h2>Install</h2>
Guisdap-9.1 has been succesfully installed on linux. Other architectures may have to change the makefiles, if speed is desired, othervise it should run without the compiled routines. Please report any issues for any systems.
The distribution version is available via the git system for easy updating via
<pre><code>git clone https://git.code.sf.net/p/guisdap9/code guisdap9</code></pre>
or as a <a href="https://sourceforge.net/p/guisdap9/code/ci/master/tree/">snapshot</a>.
For best performance it's adviced to compile the libraries:
<pre>cd into the guisdap directory
 make "lib" directory
 cd models/iri2016
 "make" (should be gnu-make)
 cd ../nrlmsise00
 "make"
 cd ../irbem
 make OS=... ENV=... all
 make OS=... ENV=... install
 cd ../../sources
 "make"
make a link of bin/guisdap to a place on your path (ex /usr/local/bin)</pre>
Provided is a searchpath to ~/gup/mygup where your personal and edited distribution files should go.<a name="section-2"></a>
<h2>Running</h2>
On a unix system prompt, type "guisdap --help" to see all the switches available. Normal analysis is done running "guisdap -a" which will bring up a window with some entries to fill in. (Hopefully selfexplained) This is the same as "guisdap" and then "analyse". When finished hit "GO". A more detailed instruction can be found at <a href="https://www.eiscat.se/document/user-documentation/guisdap8-for-dummies/">here</a>.There is also a course <a href="https://www.eiscat.se/wp-content/uploads/2016/08/GUISDAP.pdf">presentation</a> describing how to initialise new experiments and some useful tips on more specialised analysis. The initialisation scripts are avaiable with "guisdap -i".
<br>
For Windows there is a startup script <code>windows_start.m</code> available that should be chosen as 'Run' with right-click.

<h2>New features</h2>
With version 9.1 the new HDF5 format for the result data is introduced.

* There is a comprehensive document descriping the format: <code>doc/dfg.doc</code>
* There is a quicklook spreadsheet file for the format: <code>matfiles/Guisdap_Parameters.xlsx</code>
* More rawdata taking experiments have been prepared for automatic lagprofiling and analysis
*  mainly to get sub-dump resolutions of data
* The libraries have been rewritten to allow more compilers and be more matlab independent
* Mex routines are now optional
* The internal time format is now TAI to allow unique time stamps

Numerous bugfixings and updates

<hr />

Contact: <a href="mailto: ingemar@eiscat.se">Ingemar Häggström</a>
